<h1 class="subheader"> <%= @user.name %>'s Profile </h1>

<% if current_user != @user %>
  <div>
    <% if current_user.following? @user %>
      <%= button_to "Unfollow #{@user.name}",
        unfollow_user_path(@user), method: :delete, class: "button round" %>
    <% else %>
      <%= button_to "Follow", follow_user_path(@user), class: "button round" %>
    <% end %>
  </div>
<% end %>

<div class="large-6 columns">
  <div>
    <%= image_tag @user.avatar, width: "500" %>
  </div>
  <% if current_user != @user %>
    <div>
      <br>
        <%= link_to("#{@user.name}'s Tasks", [@user, :tasks], class: "button radius") %>
    </div>
  <% end %>
</div>

<div class="large-6 columns">
  <div class="panel">
    <strong>Name:</strong> <%= @user.name %>
  </div>

  <div class="panel">
    <strong>About:</strong> <%= @user.about %>
  </div>

  <div class="panel">
    <strong>Total Points: <strong><%= @user.points %>
  </div>

  <% if @user.merit_notifications.present? %>
    <div class="panel">
      <%= render "merit_notifications/#{@user.merit_notifications.last.reason}", user: @user %>
    </div>
  <% end %>

  <% if current_user == @user %>
    <div>
      <%= link_to "Edit Profile", [:edit, @user, :profile] %>
    </div>
  <% end %>
</div>

