<div>
  <%= div_for comment do %>
    <%= comment.user.email %> said:
    <%= comment.body %>
    <%= time_ago_in_words(comment.created_at) %> ago
    <div class="likes-count">
      <%= pluralize(comment.likes.count, 'like') %>
    </div>

    <% if signed_in? %>
        <%= render "comment_like_button", comment: comment %>
    <% end %>

    <% if current_user && current_user == comment.user %>
      <%= button_to "Delete", comment, method: :delete, remote: true %>
    <% end %>
  <% end %>
</div>
