<div><%= link_to task.name, task %></div>
<div><%= task.description %></div>
<div><%= date_completed(task) %>
<%= div_for task do %>
  <%= form_for task do |form| %>
    <%= form.check_box :completed, onchange: "this.form.submit()" %>
  <% end %>
  <div class="edit-task-avatar">
    <%= link_to image_tag(task.avatar(:thumb)), [:edit, task], remote: true %>
  </div>
<% end %>
