<h4><%= link_to task.name, task %></h4>
<div><%= task.description %></div>
<% if current_user == task.user %>
    <div>
  <%= render "task_completion_button", task: task %>
  </div>
<% end %>
<p>
<% if task.image.present? %>
      <%= link_to image_tag(task.image.avatar(:thumb)), task  %>
<% else %>
    <%= link_to "Add Image", [:new, task, :image] %>
<% end %>
</p>
