<div><%= link_to task.name, task %></div>
<div><%= task.description %></div>
<div>
  <div id= "task_completion">
    <%= render "task_completion_button", task: task %>
  </div>
  <%# <%= form_for task do |form| %>
  <%#   <%= form.check_box :completed, onchange: "this.form.submit()" %>
  <%# <% end %>
</div>
