<h2><%= @user.email %>'s Tasks</h2>
<div>
  <%= link_to "Add Task", [:new, @user, :task] %>
</div>
<div>
  <% @distinct_due_dates.each do |due_date| %>
    <p><%= Date::DAYNAMES[due_date.wday] %></p>
    <% @tasks.each do |task| %>
      <% if task.due_date == due_date %>
        <p>
          <div><%= task.name %></div>
          <div><%= task.description %></div>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>
<div>
  <%= link_to "Back to Profile", [@user, :profile] %>
</div>
