<h2>New Task</h2>
<div>
  <%= form_for @task, url: user_tasks_path do |form| %>
    <%= form.text_field :name, placeholder: "Task Name" %>
    <%= form.text_area :description, placeholder: "Description" %>
    <%= form.date_field :due_date, placeholder: "Due Date" %>
    <%= form.submit "Create Task" %>
  <% end %>
</div>
