<h2><%= @task.name %></h2>

<div><%= image_tag(@task.avatar, width: "300") %></div>

<div><% @task.description %></div>

<div id="task_like_count">
  <%= pluralize(@task.likes.count, 'like') %>
</div>

<% if signed_in? %>
  <div id= "task_like">
    <%= render "task_like_button", task: @task %>
  </div>
<% end %>

<% if signed_in? %>
  <%= form_for([@task, @comment], remote: true) do |form| %>
    <%= form.text_area :body %>
    <%= form.submit "Comment" %>
  <% end %>
<% else %>
  <%= link_to "Sign in", sign_in_path %>
<% end %>

<div id= "comments">
  <%= render @comments %>
</div>


