<!DOCTYPE html>
<html>
  <head>
    <title>CompleteMe</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <%= form_for(:search, url: search_path, method: :get) do |form| %>
    <%= form.text_field :query, placeholder: "Users" %>
    <%= form.submit "Search" %>
  <% end %>

  <% if signed_in? %>
    Signed in as: <%= link_to current_user.email, [current_user, :profile] %>
    <%= link_to 'Sign out', sign_out_path, :method => :delete %>
    <% if current_user.tasks.distinct_due_dates.any? { |due_date| due_date.to_date > Time.now.to_date && Time.now.to_date > due_date.to_date - 3.days } %>
      <div> Tasks Due Soon!</div>
    <% end %>
    <% current_user.tasks.each do |task| %>
      <% if task.due_date.to_date > Time.now.to_date && Time.now.to_date  > task.due_date.to_date - 3.days %>
      <%= link_to task.name, task %>
      <%= pretty_due_date(task.due_date) %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to 'Sign in', sign_in_path %>
  <% end %>

  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

  <%= yield %>

  </body>
</html>
